.single-box{
    padding: 4em;
    border: 1px solid #000000;
    border-bottom: none;
    border-left: none;
}

.player-icon {
    font-size: 72px;
    font-weight: bold;
    color: #00b1eb;
}

.blue-color {
    color: #00b1eb;
}

.red-color{
    color: #ff5030;
}