.single-box{
    width: 200px;
    padding: 3em;
    height: 200px;
    border: 1px solid #000000;
    border-bottom: none;
    border-left: none;
}

.player-icon {
    font-size: 72px;
    font-weight: bold;
    color: #00b1eb;
}

.blue-color {
    color: #00b1eb;
}

.red-color{
    color: #ff5030;
}

.custom-fade{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.7;
}

.custom-modal-content{
    width: 50%;
    position: absolute;
    z-index: 150;
    background: #ffffff;
    left: 25%;
    right: 25%;
    top: 25%;
}
.custom-modal-body, .custom-modal-header{
    border-bottom: 1px solid #b1b1b1;
    padding: 0.5rem 1rem;
}
.custom-modal-footer{
    padding: 0.5rem 1rem;
    text-align: right;
}

.custom-modal-action-button{
margin-left: 0.5rem;
padding: 0.5rem 1rem;
}

button {
    border-radius: 5px;
}

button:disabled {
    opacity: 0.5;
}