<div class="container-fluid">
    <div class="row">
    <div (click)="markLocation(dimension)" [style.border-top]='setBorderTop(dimension)'  *ngFor="let dimension of DIMENSIONS" class="single-box col-xl-4 col-lg-4 col-md-4 col-4 text-center">
        <!-- [ngStyle]="{'border-right':dimension%3 === 0 ? 'none' : '' }" -->
        <div class="player-icon blue-color" *ngIf="getOwnership(dimension,'X')">X</div>
        <div class="player-icon red-color" *ngIf="getOwnership(dimension,'O')">O</div>
    </div>
</div>
</div>